<!-- footer start -->
<footer>
    <p>created with ♥ by ranasaud</p>
</footer>
<!-- footer end -->

<script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
<script src="js/main.js"></script>